<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      You have a new message, view it here: <%= @url %><br>
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>
